@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Bebas Neue, sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    font-size: 3.5rem;
    letter-spacing: 3px;
}

h4 {
    text-align: center;
    margin-top: .25rem;
    margin-bottom: 1rem;
    font-size: 1.15rem;
    letter-spacing: 1px;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 6px;
}

.image-stats-container span {
    display: flex;
    text-align: center;
    background: #000;
    color:#000;
    
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 3.35rem;
    }

    h4 {
        font-size: 1.10rem;
    }

    .image-container {
        margin: 10px;
    }
}